<script>
$(function(){
    $(".ad").on("click", function(){
        window.alert("広告をクリックされましたので、正常に有料会員登録が完了しました。利用料金が988880000000円発生しておりますので、2019年06月01日までに料金を振り込んでください。なお、期日までに料金を振り込んでいただけなかった場合には法的措置を取らせていただく場合もありますのでくれぐれも遅れないようにお願いいたします。");
    });
});
</script>

<div class="ad">
<img src="http://xn--l8jcdp0jnf7f11b.up.n.seesaa.net/xn--l8jcdp0jnf7f11b/image/E382B9E382AFE383AAE383BCE383B3E382B7E383A7E38383E38388202014-11-21201.03.15-thumbnail2.png?d=a0">
 <img src="https://liskul.com/wp-content/uploads/2014/08/20140814_01.jpg">
 </div>
 <div class="contents-row">
 <% @articles.each do |article| %>
  <%= render partial: "article", locals: { article: article } %>
 <% end %>
</div>
<%= paginate(@articles) %>